@media screen and (min-width: 640px){
    #menu{display: none;}
    nav {grid-template-columns: 1fr;}
    .navigation {display: flex;}
    .navigation li {flex: 1;}
    .navigation a {text-align: center;}
    .footer-grid {grid-template-columns: 1fr 1fr 1fr;}
    #members.list member.card img {display: block; width: 60px; height: 60px; object-fit: cover;}
    
}