@media (min-width: 768px) {
    #menu {
        display: none;
    }

    .navigation {
        display: grid;
        list-style: none;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav.open ul {
        display: flex;
    }

    .footer-grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social {
        justify-content: center;
    }
}