@media screen and (min-width: 768px) {
    #menu{display: none;}
    nav{display: block;}
    .navigation{display: flex;}
    .hero-text{width: 60%;}
    .grid{grid-template-columns:repeat(2,1fr)}
    .plan-grid{grid-template-columns: 1fr 1fr;}
    
}
@media screen and (min-width: 1024px) {
    .grid{grid-template-columns:repeat(3, 1fr)}
    
}